body, html {
  margin: 0px;
  padding: 0px
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-theme {
  background-color: #ffffff;
  color: #333333;
}

.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}